<a href="https://colab.research.google.com/github/HImaya24/fdm/blob/main/Data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data Preprocessing Techniques

**Technique 1 - Handling Missing Values**

In [ ]:
import pandas as pd
from sklearn.impute import SimpleImputer

# Load Titanic dataset from uploaded CSV
titanic = pd.read_csv('Titanic Dataset.csv')

# Check missing values
print(titanic.isnull().sum())

# Handle missing values in Age using mean
imputer = SimpleImputer(strategy='mean')
titanic['age'] = imputer.fit_transform(titanic[['age']])

# Show first 10 Ages after imputation
print(titanic['age'].head(10))

pclass          0
survived        0
name            0
sex             0
age           263
sibsp           0
parch           0
ticket          0
fare            1
cabin        1014
embarked        2
boat          823
body         1188
home.dest     564
dtype: int64
0    29.00
1     0.92
2     2.00
3    30.00
4    25.00
5    48.00
6    63.00
7    39.00
8    53.00
9    71.00
Name: age, dtype: float64

**Technique 2 - Binning (Discretization)**

In [ ]:
# Define bins and labels
bins = [0, 12, 19, 35, 60, 100]
labels = ['Child', 'Teen', 'Young Adult', 'Adult', 'Senior']

# Apply binning on Age
titanic['ageGroup'] = pd.cut(titanic['age'], bins=bins, labels=labels)

# Display first 15 rows of Age and Age Group
print(titanic[['age', 'ageGroup']].head(15))

      age     ageGroup
0   29.00  Young Adult
1    0.92        Child
2    2.00        Child
3   30.00  Young Adult
4   25.00  Young Adult
5   48.00        Adult
6   63.00       Senior
7   39.00        Adult
8   53.00        Adult
9   71.00       Senior
10  47.00        Adult
11  18.00         Teen
12  24.00  Young Adult
13  26.00  Young Adult
14  80.00       Senior